<html>
    <head>
        <meta charset="utf-8"/>
        <title>Note App React</title>
        <link rel="stylesheet" href="/css/note.css" type="text/css"/>
        <script src="/js/react.min.js"></script>
        <script src="/js/react-dom.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/jquery.min.js"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
    <script type="text/babel" src="/babel/note.js"></script>
</html>