.note{
    width: 450px;
    padding: 5px;
    margin: 3px auto;
    border: 1px solid goldenrod;
    border-radius: 7px;
}

.list{
    width: 500px;
    padding: 5px;
    margin: 3px auto;
    border: 1px solid gray;
    border-radius: 7px;
}